<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sw.base.mapper.goods.AttributesMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.sw.common.entity.goods.Attributes" id="attributesMap">
        <result property="pkAttributeId" column="pk_attribute_id"/>
        <result property="fkCategoryId" column="fk_category_id"/>
        <result property="attrName" column="attr_name"/>
        <result property="attType" column="att_type"/>
        <result property="attrVal" column="attr_val"/>
        <result property="attrSeq" column="attr_seq"/>
        <result property="isShow" column="is_show"/>
        <result property="status" column="status"/>
        <result property="isDelete" column="is_delete"/>
        <result property="addUser" column="add_user"/>
        <result property="addTime" column="add_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pk_attribute_id
        fk_category_id
        attr_name
        att_type
        attr_val
        attr_seq
        is_show
        status
        is_delete
        add_user
        add_time
        update_user
        update_time
    </sql>

</mapper>