<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.base.mapper.customer.CustomerPointMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sw.common.entity.customer.CustomerPoint">
		<id column="pk_point_id" property="pkPointId" />
		<result column="fk_customer_id" property="fkCustomerId" />
		<result column="point" property="point" />
		<result column="used" property="used" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pk_point_id, fk_customer_id, point, used
    </sql>

</mapper>
