<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sw.base.mapper.goods.GoodsLadderMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.sw.common.entity.goods.GoodsLadder" id="goodsLadderMap">
        <result property="pkLadderId" column="pk_ladder_id"/>
        <result property="fkGoodsId" column="fk_goods_id"/>
        <result property="count" column="count"/>
        <result property="discount" column="discount"/>
        <result property="price" column="price"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pk_ladder_id
        fk_goods_id
        count
        discount
        price
    </sql>

</mapper>
