<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sw.base.mapper.goods.GoodsFullReduceMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.sw.common.entity.goods.GoodsFullReduce" id="goodsFullReduceMap">
        <result property="pkReduceId" column="pk_reduce_id"/>
        <result property="fkGoodsId" column="fk_goods_id"/>
        <result property="fullPrice" column="full_price"/>
        <result property="reducePrice" column="reduce_price"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pk_reduce_id
        fk_goods_id
        full_price
        reduce_price
    </sql>

</mapper>